* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  font-family: 'Nunito', sans-serif; }

.header {
  background-color: #f9f0ff;
  border-bottom: 1px solid #e8e9eb; }
  .header .header__navbar {
    width: 80%;
    margin: auto;
    display: flex !important;
    justify-content: space-between; }
    .header .header__navbar a {
      max-width: 250px; }
      .header .header__navbar a img {
        width: 100%;
        filter: hue-rotate(-150deg); }
    .header .header__navbar .header__menu ul li .last-item {
      color: #fff;
      background-color: #6A1B9A; }
    .header .header__navbar .header__menu ul li a {
      font-size: 13px !important;
      letter-spacing: .5px;
      font-weight: 500;
      color: #3D4246;
      margin-right: 2px;
      padding: 10px; }
    .header .header__navbar .navbar-collapse {
      flex-grow: 0 !important; }

@media (max-width: 767px) {
  .header__navbar {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }
    .header__navbar a {
      padding-left: 50px; }
    .header__navbar .navbar-toggler {
      margin-right: 50px; }
    .header__navbar .header__menu ul li {
      border-top: 1px solid #e8e9eb; }
      .header__navbar .header__menu ul li .last-item {
        background-color: #f9f0ff !important;
        color: #3D4246 !important; }
      .header__navbar .header__menu ul li a {
        padding-left: 50px !important; } }

.customer {
  background: #f9f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px; }
  .customer__wrapper {
    text-align: center;
    width: 80%;
    padding: 50px 100px .customer__wrapper __title;
      padding-margin-bottom: 25px; }
    .customer__wrapper .carousel-inner {
      padding-bottom: 85px; }
      .customer__wrapper .carousel-inner .carousel-item .carousel-item-text .carousel-item-text-content {
        margin-top: 25px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 1px;
        color: #333; }
      .customer__wrapper .carousel-inner .carousel-item .carousel-item-text .carousel-item-text-line {
        border-top: 2px solid #6A1B9A;
        width: 5%;
        margin: auto; }
      .customer__wrapper .carousel-inner .carousel-item .carousel-item-name h4 {
        letter-spacing: 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .customer__wrapper .carousel-inner .carousel-item .carousel-item-name .desc {
        color: #69727b; }
      .customer__wrapper .carousel-inner .carousel-item .carousel-item-rating img {
        width: 12%; }
    .customer__wrapper .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236A1B9A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }
    .customer__wrapper .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236A1B9A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }
  .customer .carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; }

.outstanding {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 50px; }
  .outstanding__wrapper__content1 {
    margin-bottom: 100px; }
    .outstanding__wrapper__content1__left1 {
      padding-right: 10% !important; }
      .outstanding__wrapper__content1__left1 img {
        width: 100%; }
    .outstanding__wrapper__content1__right1 {
      margin-top: 30px; }
      .outstanding__wrapper__content1__right1 strong {
        color: #6A1B9A;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 5px; }
      .outstanding__wrapper__content1__right1 h2 {
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: 400; }
      .outstanding__wrapper__content1__right1__text1 p {
        color: #69727b; }
      .outstanding__wrapper__content1__right1__text1 a {
        font-size: 13px;
        cursor: pointer; }
  .outstanding__wrapper__content2 {
    margin-bottom: 100px; }
    .outstanding__wrapper__content2__left2 {
      margin-top: 30px; }
      .outstanding__wrapper__content2__left2 strong {
        color: #6A1B9A;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 5px; }
      .outstanding__wrapper__content2__left2 h2 {
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: 400; }
      .outstanding__wrapper__content2__left2__text2 p {
        color: #69727b; }
      .outstanding__wrapper__content2__left2__text2 a {
        font-size: 13px;
        cursor: pointer; }
    .outstanding__wrapper__content2__right2 {
      padding-left: 10% !important; }
      .outstanding__wrapper__content2__right2 img {
        width: 100%; }

@media (max-width: 767px) {
  .outstanding {
    padding-left: 50px;
    padding-right: 50px; }
    .outstanding__wrapper__content1 {
      text-align: center;
      margin-bottom: 50px; }
      .outstanding__wrapper__content1__left1 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        order: 0 !important; }
        .outstanding__wrapper__content1__left1 img {
          width: 100%; }
      .outstanding__wrapper__content1__right1 {
        order: 10 !important;
        margin-top: 20px; }
    .outstanding__wrapper__content2 {
      text-align: center;
      margin-bottom: 50px; }
      .outstanding__wrapper__content2__left2 {
        order: 10 !important;
        margin-top: 20px; }
      .outstanding__wrapper__content2__right2 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        order: 0 !important; }
        .outstanding__wrapper__content2__right2 img {
          width: 100%; } }
