.custom-button {
    height: 2.5rem;
    padding: 0 1.8rem;
    background-color: $color-primary;
    color: $color-primary-light;
    min-width: 9rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.custom-button:hover {
    background-color: rgba($color-primary, .8);
}

.custom-button:disabled {
    color: #999 !important;
    // background-color: rgb(175, 175, 175) !important;
}
