.custom-input {
    flex: 1;
    all: none;
    border: none;
    outline: none;
    height: 2.5rem;
    background-color: #fafafa;
    padding: .5rem 2rem;
    border-radius: 3px;
    transition: all 0.2s;
}

.custom-input:focus {
    background-color: #e4e4ff;
}
