$color-primary: #6A1B9A;
$color-primary-light: #f9f0ff;
$color-primary-light-2: #ce93d8;
$color-gray-dark: #3D4246;
$color-gray-light: #69727B;
$color-gray-light-2: #EFEFEF;


$font-size-heading: 2.2rem;
$font-size-title: 1.5rem;
$font-size-title-small: 1.2rem;

$max-height-header: 8.5rem