$color-primary-light: #f9f0ff;
$color-primary-light-2: #ce93d8;
$color-primary: #6A1B9A;
$color-gray-dark: #3D4246;
$color-gray-light: #69727b;


$font-size-heading: 2rem;
$font-size-title: 1.5rem;
$font-size-title-small: 1.2rem;

$color-primary: #6A1B9A;
$color-gray-dark: #3D4246;
$color-gray-light: #69727B;
