$color-primary-light: #f9f0ff;
$color-primary: #6A1B9A;

.create-task{
    background-color: $color-primary-light;
}

.create-task__padding{
    padding: 40px;
    margin: 0;
}

.create-task__btn-center{
    text-align-last: center;
}

.create-task__text{
    letter-spacing: 6px;
}

strong.create-task__text-fontsize {
    font-size: 1.3rem;
}

.create-task__btn{
    padding: 8px;
}