.header {
    background-color: $color-primary-light;
    border-bottom: 1px solid #e8e9eb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-height: 85px;
    .header__navbar {
        display: flex !important;
        justify-content: space-between;
        a {
            max-width: 250px;
            img {
                width: 100%;
                filter: hue-rotate(-150deg);
            }
        }
        .header__menu {
            ul li .last-item {
                color: #fff;
                background-color: $color-primary;
            }
            ul li a {
                font-size: 13px !important;
                letter-spacing: .5px;
                font-weight: 500;
                color: $color-gray-dark;
                margin-right: 2px;
                padding: 10px;
            }
        }
        .navbar-collapse {
            flex-grow: 0 !important;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0;
        background-color: #fff;
    }
    .header__navbar {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        a {
            padding-left: 20px;
        }
        .navbar-toggler {
            margin-right: 20px;
        }
        .header__menu {
            background-color: #fff;
            ul li {
                border-top: 1px solid #e8e9eb;
                .last-item {
                    background-color: #fff !important;
                    color: $color-gray-dark !important;
                }
                a {
                    padding-left: 50px !important;
                }
            } 
        }
    }
}

@media (max-width: 1254px) {
    .header__menu {
        ul {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
}