.outstanding {
    margin-top: 50px;
    &__wrapper {
        &__content1 {
            margin-bottom: 100px;
            &__left1 {
                padding-right: 10% !important;
                img {
                    width: 100%;
                }
            }

            &__right1 {
                margin-top: 30px;
                strong {
                    color: $color-primary;
                    font-size: 19px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                }
                h2 {
                    font-size: 35px;
                    letter-spacing: 1px;
                    font-weight: 400;
                }
                &__text1 {
                    p {
                        color: #69727b;
                    }
                    a {
                        font-size: 13px;
                        cursor: pointer;
                    }
                }
            }
        }
        &__content2 {
            margin-bottom: 100px;
            &__left2 {
                margin-top: 30px;
                strong {
                    color: $color-primary;
                    font-size: 19px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                }
                h2 {
                    font-size: 35px;
                    letter-spacing: 1px;
                    font-weight: 400;
                }
                &__text2 {
                    p {
                        color: #69727b;
                    }
                    a {
                        font-size: 13px;
                        cursor: pointer;
                    }
                }
                
            }

            &__right2 {
                padding-left: 10% !important;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .outstanding {
        padding-left: 50px;
        padding-right: 50px;
        &__wrapper {
            &__content1 {
                text-align: center;
                margin-bottom: 50px;
                &__left1 {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    order: 0 !important;
                    img {
                        width: 100%;
                    }
                }
                &__right1 {
                    order: 10 !important;
                    margin-top: 20px;
                }
            }
            &__content2 {
                text-align: center;
                margin-bottom: 50px;
                &__left2 {
                    order: 10 !important;
                    margin-top: 20px;
                }
                &__right2 {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    order: 0 !important;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}